h2 {
  font-size: 18px;
  padding: 0;
}

h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-top: 0;
}
h5 {
  font-size: 14px;
}
p {
  font-size: smaller;
  padding-top: 10px;
}
#search-button {
  border-radius: 4px;
}

body {
  padding-top: 25px;
  font-family: "Montserrat", sans-serif;
}
#current-location {
  margin-left: 2px;
  border-radius: 4px;
}

.row {
  --bs-gutter-x: 0.3rem;
  --bs-gutter-y: 0.3rem;
}
.updated {
  color: hsl(0, 0%, 0%);
  opacity: 0.6;
  margin-bottom: 0;
  font-size: 12px;
}
.humidity {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bolder;
}
.container {
  margin-left: 5px;
  max-width: 600px;
}
.card {
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: linear-gradient(120deg, #bbe5f5 0%, #ebedee 100%);
}
.card-body {
  padding: 0;
}
.celcius {
  font-size: 9px;
  vertical-align: top;
}
.fahrenheit {
  font-size: 9px;
  vertical-align: top;
}
a {
  text-decoration: none;
  font-weight: lighter;
  color: rgb(65, 64, 64);
}

.fa-wind {
  border: 1px solid hsl(0, 0%, 0%, 0.2);
  padding: 0.7em;
  border-radius: 50%;
  font-size: 14px;
  margin-bottom: 10px;
}
.forecast {
  text-align: center;
  font-size: 10px;
}

.first-column {
  padding-left: 15px;
}
.right-temperature-details {
  margin-top: -5px;
}
#search-text-input {
  max-width: 100%;
  margin-bottom: 2px;
}
#weather-icon {
  border-radius: 80px;
  margin-right: -10px;
  margin-top: -10px;
  max-width: 75px;
  max-height: 75px;
}
.current-temperature-section {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 20px;
}
.footer {
  font-size: 11px;
  color: hsl(0, 0%, 0%);
  opacity: 0.7;
  margin-left: 20px;
}

#temp {
  font-size: 30px;
}
.active {
  color: black;
  text-decoration: none;
  cursor: default;
  font-weight: bolder;
}
.active:hover {
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
}
